body {
  margin: 0;
  background: #0f0a19;
  color: #a855f7;
  font-family: Consolas, monospace;
  overflow: hidden;
}

/* Background FIXED */
.bg {
  position: fixed;
  inset: 0;
  z-index: -1; /* WICHTIG */

  background:
    radial-gradient(circle at 20% 20%, rgba(168,85,247,.4), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(168,85,247,.25), transparent 40%),
    #0f0a19;

  filter: blur(14px);
}

/* Terminal */
.terminal {
  position: relative;
  z-index: 1;

  width: 1200px;          /* größer */
  max-width: 95%;

  height: 80vh;           /* dynamisch nach Bildschirm */
  margin: 40px auto;

  background: rgba(0,0,0,.85);
  border-radius: 12px;
  padding: 30px;

  border: 1px solid rgba(168,85,247,0.25);
  box-shadow: 0 0 50px rgba(168,85,247,0.25);
}

.titlebar {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 10px;
}

.hero {
  display: flex;
  gap: 50px;
}

.ascii {
  font-size: 8px;
  line-height: 1;
}

.info h1 {
  font-size: 28px;
}

/* Output */
.output {
  margin-top: 20px;
  font-size: 13px;
}

/* Input */
.input-line {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input {
  background: none;
  border: none;
  color: #a855f7;
  flex: 1;
  outline: none;
  font: inherit;
  caret-color: #a855f7;
}